<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="3.0.2" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.bundle_green" version="2.1.2" />
  <package id="SQLitePCLRaw.config.e_sqlite3" version="3.0.2" />
  <package id="SQLitePCLRaw.core" version="3.0.2" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.2" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="3.0.2" />
  <package id="SourceGear.sqlite3" version="3.50.4.2" />
  <package id="sqlite-net-pcl" version="1.9.172" manuallyInstalled="true" />
</packages>